<div class="container">
  <h1>Clientes</h1>
  <div class="content-crud">
    <p-table
      #dt1
      [value]="Clients "
      [tableStyle]="{ 'min-width': '50rem' }"
      scrollHeight="500px"
      ataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      [paginator]="true"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header" *ngFor="let title of titles">
        <tr>
          <th *ngFor="let title of titles">{{ title }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-clients>
        <tr>
          <td>{{ clients.id }}</td>
          <td>{{ clients.email }}</td>
          <td style="width: 700px">{{ clients.role }}</td>
          <td>{{ clients.status }}</td>
          <td>{{ clients.tokenConfirmation }}</td>
          <td>{{ clients.tokenRecovery }}</td>
          <td><img src="../../../../assets/edit.png" alt="" routerLink="/edit-clients" /></td>
          <td><img src="../../../../assets/delete.png" alt=""/></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
