.container {
  width: 100vw;
  background-color: #f7f7f7;
}

.content{
  display: flex;
  justify-content: center;
  padding: 20px 10px;
}

.card{
  background-color: white;
  border-radius: 20px;
  padding: 20px;
  cursor: pointer;
}

.card > div{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h3{
  color: #AEB422;
}

@media only screen and (min-width: 1024px){
  .content{
    width: 100%;
  }

  .card{
    width: 450px;
  }
}
