<!-- Container -->
<div class="container">
  <!-- Card -->
  <div class="content" *ngFor="let orden of ordenes">
    <div class="card" routerLink="/orden">
      <div class="No-orden">
        <h4>No. orden</h4>
        <h3>{{ orden.numero }}</h3>
      </div>
      <div class="cliente">
        <h4>Cliente</h4>
        <h3>{{ orden.cliente }}</h3>
      </div>
      <div class="valor">
        <h4>Valor</h4>
        <h3>{{ orden.valor }}</h3>
      </div>
      <div class="estado">
        <h4>estado</h4>
        <h3>{{ orden.estado }}</h3>
      </div>
    </div>
  </div>
</div>
