<div class="container">
  <div routerLink="" class="content-img">
    <img src="./../../../../assets/Logo_MA-07.png" alt="" />
  </div>
  <div class="content-options">
    <div class="content-button">
      <div class="container-search" style="position: relative; width: 50%">
        <p-autoComplete
          styleClass="p-autocomplete-list-item"
          [(ngModel)]="products"
          [suggestions]="results"
          field="name"
          (completeMethod)="search($event)"
        ></p-autoComplete>
        <i class="pi pi-search icon-search"></i>
      </div>
      <!-- Acount buttons  -->
      <div class="content-actions-user">
        <div class="my-account">
          <p
            type="text"
            style="color: white; font-family: 'Nunito'; cursor: pointer"
            routerLink="login"
          >
            Login
          </p>
          <!-- <i class="pi pi-user user-icon"></i> -->
        </div>
        <!-- separador -->
        <div class="separador"></div>
        <!-- --------------- -->
        <!-- Register content -->
        <p
          type="text"
          style="
            color: white;
            font-family: 'Nunito';
            cursor: pointer;
            margin-right: 40px;
          "
          routerLink="/sign-in"
        >
          Register
        </p>
      </div>
      <div class="my-cart">
        <i
          style="color: #aeb422; cursor: pointer"
          class="pi pi-shopping-cart cart-icon"
          [routerLink]="['cart/']"
        ></i>
      </div>
      <!-- bar menu -->
      <p-button
        type="text"
        (click)="display = true"
        icon="pi pi-bars"
        class="bars"
      ></p-button>
    </div>
  </div>
</div>

<p-sidebar [(visible)]="display" styleClass="p-sidebar-sm" position="right">
  <ng-template pTemplate="content">
    <ul>
      <li><a href="">Marcas</a></li>
      <li><a href="">Categorias</a></li>
      <li><a href="">Servicios</a></li>
      <li><a href="">Contactenos</a></li>
      <li><a href="">Promociones</a></li>
      <li><a href="">Blog</a></li>
      <li><a href="">Contactenos</a></li>
    </ul>
    <div class="user-container">
      <button
        pButton
        label="Iniciar sesion"
        class="userBtn"
        routerLink="login"
      ></button>
      <button
        pButton
        label="Registrarse"
        class="userBtn"
        routerLink="sign-in"
      ></button>
    </div>
  </ng-template>
</p-sidebar>
<div class="container-menu">
  <p-overlayPanel #brands [dismissable]="true">
    <ng-template pTemplate>
      <div *ngFor="let brand of marcas">
        <button class="btn-desp" type="button"  >{{brand.name}}</button>
      </div>
    </ng-template>
  </p-overlayPanel>
  <p-overlayPanel #category [dismissable]="true">
    <ng-template pTemplate>
        <div *ngFor="let category of categories">
          <button class="btn-desp" type="button"  >{{category.name}}</button>
        </div>
    </ng-template>
  </p-overlayPanel>
  <ul>
    <li><button  class="btn"  type="button"  (click)="brands.toggle($event)">Marcas  <i class="pi pi-angle-down" style="color: white;"></i></button></li>
    <li><button  class="btn"  type="button"  (click)="category.toggle($event)">Categorias <i class="pi pi-angle-down" style="color: white;"></i></button></li>
    <li><a href="">Servicios</a></li>
    <li><a href="">Contactenos</a></li>
    <li><a href="">Promociones</a></li>
    <li><a href="">Blog</a></li>
    <li><a href="">Contactenos</a></li>
  </ul>
  <!-- <p-megaMenu
    orientation="horizontal"
    [model]="items"
  ></p-megaMenu> -->
</div>
