<div class="container">
  <div routerLink=""lass="col content-img">
    <img src="./../../../../assets/dog-category.png" alt="" height="auto" width="85%">
  </div>
  <div class="col content-options">
    <div class="col content-button">
      <div class="container-search" style="position: relative; width: 50%;">
        <p-autoComplete styleClass="p-autocomplete-list-item" [(ngModel)]="products" [suggestions]="results" field="name" (completeMethod)="search($event)"></p-autoComplete>
        <i class="pi pi-search icon-search"></i>
      </div>
      <div class="content-actions-user">
        <div class="my-account">
          <p-dropdown [options]="user" [(ngModel)]="userSelect" optionLabel="name" optionValue="code"></p-dropdown>
          <i class="pi pi-user user-icon"></i>
        </div>
        <div class="my-cart">
          <p-dropdown [options]="user" [(ngModel)]="userSelect" optionLabel="name" optionValue="code"></p-dropdown>
          <i style="color: #AEB422;" class="pi pi-shopping-cart cart-icon"></i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-menu" style="position: relative; padding: 0 128px;">
  <p-megaMenu style="color: white;" orientation="horizontal" [model]="items"></p-megaMenu>
</div>

