*{
  font-family: 'Nunito';
  box-sizing: border-box;
}
/* container general */
.container {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 50% 50%;
  align-items: start;
  padding: 10px 30px 10px 30px;
  background-color: #fff;
}
/* Container productos */
.product-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
}
/* Titulo */
.title {
  width: 100%;
  position: left;
}

.title h2 {
  font-size: 30px;
  font-weight: 700;
  color: #aeb422;
}
/* Productos */
.products {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  align-items: center;
  border: 1px solid #1A2537;
  border-radius: 25px;
  width: 100%;
  padding: 10px;
  /* height: 200px; */
  margin: 10px 0px 10px 0px;
}

.content-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-img img {
  width: 120px;
}
/*  descripcion products */
.descripcion{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;
}

.content-description h3 {
  color: #1A2537;
  font-size: 30px;
}

p, span {
  color: #b3b3b3;
  font-weight: 700;
}

.content-description p:nth-child(3){
  font-size: 35px;
}

.class-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.class-buttons i img {
  width: 40px;
  height: 40px;
}

.class-buttons :nth-child(1){
  margin: 10px 0px 10px 0px;
}

:host ::ng-deep .p-element .p-inputnumber-button {
  background-color: #1A2537;
  border: none;
}

:host ::ng-deep .p-button-icon {
  color: #fff;
}

:host ::ng-deep .p-inputnumber-input, :host ::ng-deep .p-inputnumber-button{
  width: 40px;
}

:host ::ng-deep .p-inputnumber.p-component.p-inputnumber-buttons-horizontal{
  height: 40px;
}

.orden-content{
  margin: 51px 30px 30px 30px;
}

.subtotal {
  background-color: #e6e6e6;
  border-radius: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.subtotal h3 {
  font-size: 24px;
  color: #1A2537;
}

.subtotal p {
  font-size: 24px;
}

:host::ng-deep .btn .p-button{
  border: none;
  width: 100%;
  margin: 20px 0;
  height: 82px;
  background-color: #aeb422;
  font-size: 24px;
}

:host::ng-deep .btn .p-button:hover{
  background-color: #F2950E;
}


/* Vista responsive celular */
@media only screen and (min-width: 360px) and (max-width: 720px){
  .container {
    display: flex;
    flex-direction: column;
    padding: 5px;

  }
  .orden-content{
    position: fixed;
    height: auto;
    margin: 0;
    bottom: 0%;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  .product-content{
    width: 100%;
  }

  .products {
    width: 100%;
  }
  .content-img {
    width: 60px;
    padding: 0;
  }
  .content-img img {
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .content-description h3, .content-description p:nth-child(3){
    font-size: 15px;
  }
  .content-description p{
    font-size: 10px;
  }
  .class-buttons i img{
    width: 30px;
    height: 30px;
  }
  .class-buttons {
    width: 35px;
  }
  :host ::ng-deep .p-inputnumber-input, :host ::ng-deep .p-inputnumber-button{
    width: 35px;
    height: 35px;
  }

  :host::ng-deep .btn .p-button{
    height: auto;
    margin: 10px 0;
  }
}
@media only screen and (min-width: 500px) and (max-width: 720px){
  .class-buttons {
    width: 100%;
  }
  .content-img {
    width: 100px;
    padding: 0;
  }
  .content-description h3, .content-description p:nth-child(3){
    font-size: 23px;
  }
  .content-description p{
    font-size: 15px;
  }
}
