<div class="container">
  <!-- Categorias -->
  <div class="content-crud">
    <h1>Categorias</h1>
    <p-table
      #dt1
      [value]="products"
      [tableStyle]="{ 'min-width': '50rem' }"
      scrollHeight="500px"
      ataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      [paginator]="true"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt1.filterGlobal($event.target, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header" *ngFor="let title of titles">
        <tr>
          <th *ngFor="let title of titles">{{ title }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td >{{ product.nombre }}</td>
          <td>{{ product.imagen }}</td>
          <td><img src="../../../../assets/edit.png" alt="" routerLink="/edit-category" /></td>
          <td><img src="../../../../assets/delete.png" alt="" /></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- Subcategorias -->
  <div class="content-crud">
    <h1>Sub Categorias</h1>
    <p-table
      #dt1
      [value]="products"
      [tableStyle]="{ 'min-width': '50rem' }"
      scrollHeight="500px"
      ataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      [paginator]="true"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt1.filterGlobal($event.target, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header" *ngFor="let title of titlesSubcategoria">
        <tr>
          <th *ngFor="let title of titlesSubcategoria">{{ title }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td >{{ product.category }}</td>
          <td >{{ product.nombre }}</td>
          <td>{{ product.imagen }}</td>
          <td><img src="../../../../assets/edit.png" alt="" routerLink="/edit-subcategory" /></td>
          <td><img src="../../../../assets/delete.png" alt="" /></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- Clasificacion -->
  <div class="content-crud">
    <h1>Clasificacion</h1>
    <p-table
      #dt1
      [value]="products"
      [tableStyle]="{ 'min-width': '50rem' }"
      scrollHeight="500px"
      ataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      [paginator]="true"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt1.filterGlobal($event.target, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header" *ngFor="let title of titlesclasificacion">
        <tr>
          <th *ngFor="let title of titlesclasificacion">{{ title }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td >{{ product.subCategory }}</td>
          <td >{{ product.nombre }}</td>
          <td>{{ product.imagen }}</td>
          <td><img src="../../../../assets/edit.png" alt="" routerLink="/edit-clasification" /></td>
          <td><img src="../../../../assets/delete.png" alt="" /></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <!-- Marcas -->
  <div class="content-crud">
    <h1>Marcas</h1>
    <p-table
      #dt1
      [value]="products"
      [tableStyle]="{ 'min-width': '50rem' }"
      scrollHeight="500px"
      ataKey="id"
      [rows]="5"
      [showCurrentPageReport]="true"
      [paginator]="true"
      responsiveLayout="scroll"
    >
      <ng-template pTemplate="caption">
        <div class="p-d-flex">
          <span class="p-input-icon-left p-ml-auto">
            <i class="pi pi-search"></i>
            <input
              pInputText
              type="text"
              (input)="dt1.filterGlobal($event.target, 'contains')"
              placeholder="Search keyword"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header" *ngFor="let title of titlesMarcas">
        <tr>
          <th *ngFor="let title of titlesMarcas">{{ title }}</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-product>
        <tr>
          <td >{{ product.nombre }}</td>
          <td>{{ product.imagen }}</td>
          <td><img src="../../../../assets/edit.png" alt="" routerLink="/edit-brands" /></td>
          <td><img src="../../../../assets/delete.png" alt="" /></td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
