<div class="content">
  <div class="container-social-media">
    <!-- Facebook -->
    <img src="../../../assets/facebook.png" alt="" />
    <!-- Instagram -->
    <img src="../../../assets/instagram.png" alt="" />
    <!-- Whatsapp -->
    <img src="../../../assets/whatsapp.png" alt="" />
  </div>
  <!-- <app-slider></app-slider> -->
  <!-- Container carousel        -->
  <div class="container">
    <p-carousel
      [value]="carousel"
      [numVisible]="1"
      [numScroll]="1"
      [responsiveOptions]="responsiveOptions"
      [circular]="true"
      [autoplayInterval]="3000"
    >
      <ng-template let-carousel pTemplate="item">
        <div class="images-categories">
          <img class="img-carousel" src="{{ carousel.image }}" alt="" />
        </div>
      </ng-template>
    </p-carousel>
  </div>
  <!-- Container category ------------------------------ -->
  <div class="title">
    <h1>Categorias</h1>
  </div>
  <div class="container-category">
    <div>
      <img class="alimentos" src="../../../assets/Categorias.jpg" alt="" />
      <h3>alimentos</h3>
    </div>
    <div>
      <img src="../../../assets/Categorias.jpg" alt="" class="Snacks" />
      <h3>Snacks</h3>
    </div>
    <div>
      <img src="../../../assets/Categorias.jpg" alt="" class="Accesorios" />
      <h3>Accesorios</h3>
    </div>
    <div>
      <img src="../../../assets/Categorias.jpg" alt="" class="Juguetes" />
      <h3>Juguetes</h3>
    </div>
    <div>
      <img src="../../../assets/Categorias.jpg" alt="" class="Salud-animal" />
      <h3>Salud animal</h3>
    </div>
  </div>
  <!-- Container products -->
  <div class="titulo">
    <h1>Productos recomendados</h1>
    <hr/>
  </div>
  <div class="container-products">
    <div class="content-products" *ngFor="let img of imagesProducts">
      <div class="products">
        <img [src]="img">
        <h4>Nombre producto</h4>
        <h3>$20.000</h3>
        <p-rating [(ngModel)]="val" [readonly]="true" [stars]="5" [cancel]="false"></p-rating>
      </div>
    </div>
  </div>
</div>
