<div class="container">
  <div class="content">
    <h2>Marca</h2>
    <div class="upload_img">
      <img [src]="image" alt="image">
      <button pButton class="p-button-danger" label="Eliminar imagen" icon="pi pi-trash" [disabled]="disableButtonDelete" (click)="deleteImage()" ></button>
    </div>
    <form [formGroup]="formBrand">
      <div class="uploadMain">
        <button  class="btnAdd" type="button" (click)="uploadMain.click">
          <label for="uploadMain"><i class="pi pi-file-import"></i> Adjuntar imagen</label>
          <input #uploadMain type="file" id="uploadMain" accept="image/*" (change)="fileEvent($event)">
        </button>
        <p>{{uploadMain.value || 'Empty'}}</p>
      </div>
      <span>
        <label for="name">Nombre </label>
      <input pInputText type="text" id="name" formControlName="name" />
      </span>
    </form>
    <button pButton label="Guardar" class="p-button-success" *ngIf="!nuevo" type="button" (click)="saveChange()"></button>
    <button pButton label="Crear" class="p-button-success" *ngIf="nuevo" type="button" (click)="newItem()"></button>
  </div>
</div>
