.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100vw;
  margin-top: 50px;
}

:host::ng-deep .p-button-icon{
  color: white !important;
}
:host::ng-deep .p-button-label{
  color: white !important;
}

.funciones_img{
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: left;
  float: left;
}

.upload_img{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

:host::ng-deep .upload_img .p-button:nth-child(2){
  width: 100%;
}

.upload_img img{
  width: 100%;
}



@media only screen and (min-width: 1024px){
  .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 500px;
    gap: 20px;
  }
}
