.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px;
  background-color: #f1f1f1;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-color: white;
  border-radius: 20px;
}

.p-inputtext {
  width: 100%;
  margin-bottom: 10px;
}

:host::ng-deep .p-dropdown {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
}

.p-button {
  width: 100%;
  background-color: #AEB422;
  border: none;
}

.p-button:hover{
  background-color: #616408;
}

@media only screen and (min-width: 1024px) {
  .card {
    flex-direction: row;
    margin: 0 400px;
  }

  .description {
    margin-left: 30px;
  }

}



