<div class="container">
  <div class="content">
    <h2>Categoria</h2>
    <div class="upload_img">
      <div class="funciones_img">
        <p-fileUpload  name="myfile[]" [customUpload]="true" accept="image/*" (uploadHandler)="uploadImg($event)"></p-fileUpload>
      </div>
      <img [src]="image" alt="image">
      <button pButton class="p-button-danger" label="Eliminar imagen" icon="pi pi-trash" [disabled]="disableButtonDelete" (click)="deleteImage()" ></button>
    </div>
    <form [formGroup]="formCategory">
      <span>
        <label for="name">Nombre </label>
      <input pInputText type="text" id="name" formControlName="name" />
      </span>
    </form>
    <button pButton label="Guardar" class="p-button-success" *ngIf="!nuevo"></button>
    <button pButton label="Crear" class="p-button-success" *ngIf="nuevo"></button>
  </div>
</div>
