<div class="container">
  <div class="col container-images">
    <p-galleria [value]="images" [responsiveOptions]="responsiveOptions" [numVisible]="5">
      <ng-template pTemplate="item" let-item>
          <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
              <img [src]="item.thumbnailImageSrc" style="width: 100px; height: auto;visibility: initial;"/>
          </div>
      </ng-template>
    </p-galleria>

  </div>
  <div class="container-info">
    <span class="products-name">{{name}}</span>
    <div class="product-grid-item-content">
      <p-rating [ngModel]="3" [readonly]="true" [cancel]="false"></p-rating>
      <span class="product-price">$27.000</span>
    </div>
    <div class="container-properties">
      <p-selectButton [options]="weight" [(ngModel)]="selectWeight" optionLabel="name"></p-selectButton>
      <p-inputNumber class="increment-decrement" [(ngModel)]="val" [step]="1.0" [showButtons]="true" mode="decimal" [min]="1" [max]="100" buttonLayout="horizontal" inputId="horizontal" spinnerMode="horizontal" incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"></p-inputNumber>
    </div>
    <div class="properties">
      <div class="info">
        <span style="font-size: 1.4rem;">Pequeña 50x50cm</span>
        <span style="font-size: 1.4rem;">Pequeña 60x70cm</span>
        <span style="font-size: 1.4rem;">Pequeña 75x90cm</span>
      </div>
      <div class="add-to-cart">
        <button style="width: 100%; height: 3rem;" pButton type="button" label="Añadir al carrito"></button>
      </div>
    </div>
    <div>
      <p class="description">{{desc}}</p>
    </div>
  </div>
</div>
