.container{
  padding: 30px 100px;
  display: grid;
  grid-template-columns: 25% 75%;
}

:host ::ng-deep .p-dataview-content .p-grid.p-nogutter.grid.grid-nogutter{
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
}
:host ::ng-deep .p-dropdown {
  width: 14rem;
  font-weight: normal;
}

:host ::ng-deep .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}

:host ::ng-deep .product-description {
  margin: 0 0 1rem 0;
}

:host ::ng-deep .product-category-icon {
  vertical-align: middle;
  margin-right: .5rem;
}

:host ::ng-deep .product-category {
  font-weight: 600;
  vertical-align: middle;
}

:host ::ng-deep .p-dataview .p-dataview-header{
  background-color: transparent;
  border: none;
}

:host ::ng-deep .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
:host ::ng-deep .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}

:host ::ng-deep .product-list-item .product-list-detail {
  flex: 1 1 0;
}

:host ::ng-deep .product-list-item .p-rating {
  margin: 0 0 .5rem 0;
}

:host ::ng-deep .p-rating .p-rating-icon.pi-star-fill {
  color: #F9BF1C;
}

:host ::ng-deep .product-list-item .product-price {
  font-size: 2.2rem;
  font-weight: 600;
  margin-bottom: .5rem;
  align-self: flex-end;
}

:host ::ng-deep .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .product-list-item .p-button {
  margin-bottom: .5rem;
}

:host ::ng-deep .p-inputnumber-input{
  width: 3.5rem;
}

:host ::ng-deep .product-grid-item-top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

:host ::ng-deep .p-ripple.p-element.p-button.p-component{
  padding: 7px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border-color: #b3b3b3;
  border-right: 1px solid #b3b3b3 !important;
}

:host ::ng-deep .increment-decrement .p-inputnumber.p-component.p-inputnumber-buttons-horizontal{
  height: 36px;
  border: 0.14rem solid #cccc;
  border-radius: 7px;
}

:host ::ng-deep .content-properties button:hover{
  background-color: #E9ECEF;
}

.product-grid-item {
  margin: .5em;
}
.product-grid-item .product-grid-item-top,
.product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}

.product-grid-item .product-grid-item-content {
  font-size: 2.5rem;
  text-align: start;
}

.product-grid-item .product-price {
  font-size: 2.2rem;
  font-weight: 600;
}

.container{
  padding: 40px 30px;
}

.container-card{
  padding: 0 10px;
}

.card {
  padding: 2rem;
  padding-top: 0rem;
  /* box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem; */
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;
  }
  :host ::ng-deep .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }

  :host ::ng-deep .product-list-item .product-list-detail {
    text-align: center;
  }

  :host ::ng-deep .product-list-item .product-price {
    align-self: center;
  }

  :host ::ng-deep .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }

  :host ::ng-deep .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}

.contaienr-image, .contaienr-image img{
  width: 100%;
}

:host ::ng-deep .p-rating.p-readonly{
  padding: 6px 0px 6px 0px;
}

.content-properties{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: flex;
  align-items: start;
}

.add-to-cart{
  display: flex;
  justify-content: center;
}

:host ::ng-deep .add-to-cart button{
  height: 2.2rem;
}

:host ::ng-deep .add-to-cart .p-button-label{
  color: white;
}

:host ::ng-deep .category-button{
  width:  10rem;
}

:host ::ng-deep .image-cateorgy{
  height: 40px;
  width: 50px;
}

:host ::ng-deep .container-categories{
  display: flex;
  align-items: center;
  padding: 2rem;
  flex-direction: column;
}

:host ::ng-deep .container-categories .p-selectbutton {
 text-align: center;
}

.products-image{
  margin: 2rem 0px 0.7rem 0 !important;
}

.products-name{
  text-align: start;
}

:host ::ng-deep .container-categories .subtitle{
  font-size: 20px;
  margin-right: 10px;
}

:host ::ng-deep  .container-categories p-listbox{
  width: 80%;
}

:host ::ng-deep .p-listbox.p-component{
  border: none;
}

:host ::ng-deep .p-listbox.p-listbox-item{
  padding: 5px;
}

.title-filter{
  border-top: 2px solid #cccc;
  font-size: 20px;
  font-weight: bold;
  width: 100%;
  text-align: start;
  padding: 10px 10px 0px 15px;
  margin-top: 30px;
}

:host ::ng-deep .container-cateorgies .p-selectbutton.p-buttonset {
  text-align: center;
}

:host ::ng-deep .container-cateorgies .p-ripple.p-element.p-button.p-component.p-highlight{
  margin-bottom: 10px;
}

:host ::ng-deep .container-categories .p-button.p-component {
 width: 155px;
}


.subcategory{
  padding: 0rem 2.3rem;
}

:host ::ng-deep .subcategory .p-inputtext{
  font-size: 20px;
  font-weight: bold;
}

:host ::ng-deep .subcategory .p-dropdown-trigger-icon{
  font-size: 17px;
  font-weight: bold;
}

:host ::ng-deep  .p-selectbutton .p-button.p-highlight{
  background-color: #9AAC18;
}

:host ::ng-deep .subcategory .p-dropdown.p-component{
  border: 0;
  background-color: transparent;
  width: 12rem;
}

.category-name{
  font-size: 30px;
  text-transform: capitalize;
}

:host ::ng-deep  .increment-decrement button, :host ::ng-deep .increment-decrement input{
  background: transparent;
  border: 0px;
  padding: 0;
  width: 25px;
  text-align: center;
  height: 32px;
}

:host ::ng-deep  .p-button-icon.pi.pi-minus{
  font-size: 11px;
}

:host ::ng-deep .filtro .p-dropdown.p-component{
  width: 10rem;
  margin-right: 15px;
}
