.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100vw;
  margin-top: 50px;
}

:host::ng-deep .p-inputtext{
  width: 100%;
  margin-bottom: 10px;
}

:host::ng-deep .p-button-icon{
  color: white !important;
}
:host::ng-deep .p-button-label{
  color: white !important;
}

.funciones_img{
  display: flex;
  gap: 10px;
  flex-direction: column;
  position: left;
  float: left;
}

.upload_img{
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

:host::ng-deep .upload_img .p-button:nth-child(2){
  width: 100%;
}

.upload_img img{
  width: 100%;
}

/* Button upload */

#uploadMain{
  appearance: none;
  display: none;
  visibility: hidden;
}

.btnAdd{
  text-align: center;
  font-size: 16px;
  font-family: 'Nunito';
  border: 1px solid rgb(44, 160, 255);
  padding: 10px 15px;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

.btnAdd label, .btnAdd i{
  color: rgb(44, 160, 255);
  cursor: pointer;
}

.btnAdd:hover{
  background-color: rgb(44, 160, 255);
}

.btnAdd:hover label,.btnAdd:hover i {
  color: #fff;
}

.uploadMain{
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
}

.uploadMain p{
  color: rgb(44, 160, 255);
  overflow-x: hidden;
}


@media only screen and (min-width: 1024px){
  .content{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 400px;
    gap: 20px;
  }
}
