<!-- Container -->
<div class="container">
  <p-toast></p-toast>
  <!-- Card presentaciones -->
  <div class="card">
    <div class="form">
      <form [formGroup]="formPresentations" (ngSubmit)="updateOrNew()">
        <span>
          <label for="code">Code</label>
          <input
            pInputText
            type="number"
            id="code"
            formControlName="code"
            required
          />
        </span>
        <span>
          <label for="name">Name</label>
          <input
            pInputText
            type="text"
            id="name"
            formControlName="name"
            required
          />
        </span>
        <span>
          <label for="reference">Reference</label>
          <input
            pInputText
            type="text"
            id="reference"
            formControlName="reference"
            required
          />
        </span>
        <span>
          <label for="plu">Plu</label>
          <input
            pInputText
            type="number"
            id="plu"
            formControlName="plu"
            required
          />
        </span>
        <span>
          <label for="stock">Stock</label>
          <input
            pInputText
            type="number"
            id="stock"
            formControlName="stock"
            required
          />
        </span>
        <span>
          <label for="price1">Price1</label>
          <input
            pInputText
            type="number"
            id="price1"
            formControlName="price1"
            required
          />
        </span>
        <span>
          <label for="price2">Price2</label>
          <input
            pInputText
            type="number"
            id="price2"
            formControlName="price2"
            required
          />
        </span>
        <span>
          <label for="price3">Price3</label>
          <input
            pInputText
            type="number"
            id="price3"
            formControlName="price3"
            required
          />
        </span>
        <span>
          <label for="med">Med</label>
          <input
            pInputText
            type="number"
            id="med"
            formControlName="med"
            required
          />
        </span>
        <span class="bool">
          <label for="bulk">Bulk </label>
          <p-triStateCheckbox  id="bulk" formControlName = "bulk" ></p-triStateCheckbox>
        </span>
        <span class="bool">
          <label for="isActive">IsActive </label>
          <p-triStateCheckbox  id="isActive" formControlName = "isActive" ></p-triStateCheckbox>
        </span>

      </form>
    </div>
    <div class="btn">
      <button pButton type="button" label="Guardar" *ngIf="!New" (click)="updateOrNew()"></button>
      <button pButton type="button" label="Crear" *ngIf="New" (click)="updateOrNew()"></button>
    </div>
  </div>
</div>
