.container {
  width: 100vw;
  text-align: center;
  padding: 20px;
  background-color: #f7f7f7;
}

.card{
  background-color: white;
  padding: 20px;
  border-radius: 20px;
}

.p-inputtext{
  width: 100%;
  margin-bottom: 10px;
}

.p-button{
  width: 100%;
  background-color: #AEB422;
  border: none;
}

.p-button:hover{
  background-color: #616408;
  cursor: text;
}

.bool{
  margin-bottom: 10px;
}

@media only screen and (min-width: 1024px){
  .container{
    display: flex;
    justify-content: center;
  }

  form{
    width: 900px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .p-inputtext{
    width: 95%;
  }
}
