.container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 190px 0px 290px 0px;
}

.content {
  background-color: #1A2537;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.content h3 {
  color: white;
  margin-bottom: 10px;
}

.content span{
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.content span input{
  width: 300px;
}

.content button {
  background-color: #aeb422;
  border: none;
}

.content button:hover{
  border: none;
  background-color: #616408;
}

