<!-- Cntainer orden -->
<div class="container">
  <!-- Container boxes-->
  <div class="content">
    <!-- Metodo de pago -->
    <div class="metodo-pago">
      <span>
        <h4>Metodo de pago</h4>
      </span>
      <span>
        <h3>Efectivo</h3>
      </span>
    </div>
    <!-- Datos de la orden -->
    <div class="datos-orden">
      <div class="datos-pedido">
        <div class="dato-content">
          <div class="pedido">
            <div class="img">
            <img src="../../../assets/product.png" alt="i" />
          </div>
          <div class="datos">
            <h4>Nombre</h4>
            <p>descripcion</p>
            <p>cantidad</p>
          </div>
          </div>
          <h3>$10.000</h3>
        </div>
        <hr>
        <div class="tarifa-entrega">
          <p>Valor sin IVA</p>
          <h3>$10.000</h3>
        </div>
      </div>
    </div>
    <!-- Total -->
    <div class="total">
      <h4>Total + IVA</h4>
      <h3>$12.000</h3>
    </div>
  </div>
</div>
