<div class="container">
  <div class="content">
    <h3>Cambiar contraseña</h3>
    <span class="p-float-label">
      <input #pass1 id="password" pInputText type="password" required>
      <label for="password">Contraseña</label>
    </span>
    <span class="p-float-label">
      <input #pass2 id="rpassword" pInputText type="password" required>
      <label for="rpassword">Repetir contraseña</label>
    </span>
    <button pButton label="Cambiar contraseña" (click)="changePass(pass1.value, pass2.value)" ></button>
  </div>
</div>
