<div class="container">
  <p-toast></p-toast>
  <div class="content">
    <h3>Cambiar contraseña</h3>
    <form [formGroup]="formChangePass" (ngSubmit)="changePass()" >
      <span class="p-float-label">
        <input #pass1 id="password" pInputText type="password" formControlName="password_1" required>
        <label for="password">Contraseña</label>
      </span>
      <span class="p-float-label">
        <input #pass2 id="rpassword" pInputText type="password" formControlName="password_2" required>
        <label for="rpassword">Repetir contraseña</label>
      </span>
      <button pButton label="Cambiar contraseña" type="submit" [disabled]="!formChangePass.valid" ></button>
    </form>

  </div>
</div>
