<!-- Container -->
<div class="container">
  <!-- Box login -->
  <div class="box-login">
    <h2>Iniciar sesion</h2>
    <!-- inputs y boton -->
    <span class="p-float-label">
      <input id="float-username" type="email" required pInputText />
      <label for="float-username">Email</label>
    </span>
    <span class="p-float-label">
      <input id="float-password" type="password" required pInputText />
      <label for="float-password">Contraseña</label>
    </span>
    <button pButton label="Login" class="btnlogin" routerLink="/auth"></button>
    <a routerLink="/forgot-password">¿ Olvidaste tu contraseña ?</a>
  </div>
</div>
