<!-- contenedor -->
<div class="container">
  <!-- Div de la card -->
  <div class="card">
    <div class="container-images">
      <p-galleria
        [value]="imagenes"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="2"
        thumbnailsPosition="bottom"
        [circular]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [src]="item.thumbnailImageSrc"
            style="width: 100%; display: block"
          />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img
              [src]="item.previewImageSrc"
              style="width: 100px; height: auto; visibility: initial"
            />
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="description-content">
      <form [formGroup]="formProducts" (ngSubmit)="updateOrNew()">
        <span>
          <label for="nombre">Nombre </label>
          <input pInputText type="text" id="nombre" formControlName="name" required/>
        </span>
        <span>
          <label for="descripcion">Descripcion </label>
          <textarea
            id="descripcion"
            pInputTextarea
            formControlName="description"
            required
          ></textarea>
        </span>
        <span>
          <label for="Marcas">Marcas </label>
          <p-dropdown
            id="Marcas"
            [options]="marcas"
            formControlName="brands"
            optionLabel="name"
            optionValue="code"
            [required]="true"
          ></p-dropdown>
        </span>
        <span>
          <label for="categoria">Categorias </label>
          <p-dropdown
            id="categoria"
            [options]="categoria"
            formControlName="categories"
            optionLabel="name"
            optionValue="code"
            [required]="true"
          ></p-dropdown>
        </span>
        <span>
          <label for="Clasificacion">Clasificacion </label>
          <p-dropdown
            id="Clasificacion"
            [options]="clasificacion"
            formControlName="clasifications"
            optionValue="code"
            optionLabel="name"
            [required]="true"
          ></p-dropdown>
        </span>
        <span>
          <label for="estado">Estado </label>
          <p-dropdown
            id="estado"
            [options]="options"
            formControlName="state"
            optionValue="code"
            optionLabel="name"
            [required]="true"
          ></p-dropdown>
        </span>
        <div class="porcent">
          <span>
            <label for="iva">IVA % </label>
            <input pInputText type="text" id="iva" formControlName="iva" required/>
          </span>
          <span>
            <label for="desc">Descuento % </label>
            <input pInputText type="text" id="desc" formControlName="desc" required/>
          </span>
        </div>
        <span>
          <label for="Promo">Promo </label>
          <input pInputText type="date" id="Promo"  formControlName="promo" required />
        </span>
        <button pButton label="Guardar" type="submit"  *ngIf="!switch"></button>
        <button pButton label="Crear" type="submit"  *ngIf="switch"></button>
      </form>
    </div>
  </div>
</div>
