.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding: 10px;
  background-color: #f1f1f1;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px;
  background-color: white;
  border-radius: 20px;
}

.img-content {
  width: 100%;
}

.img-content img {
  width: 100%;
}

.p-inputtext {
  width: 100%;
  margin-bottom: 10px;
}

.p-inputtextarea {
  height: 150px;
}

:host::ng-deep .p-dropdown {
  width: 100%;
  margin-bottom: 10px;
}

.p-button {
  width: 100%;
  background-color: #AEB422;
  border: none;
}

.p-button:hover{
  background-color: #616408;
}

@media only screen and (min-width: 1024px) {
  .card {
    flex-direction: row;
  }

  .porcent {
    display: flex;
  }

  .description-content {
    margin-left: 30px;
  }

  .porcent span {
    margin: 0 10px;
  }
}
