<!-- contenedor -->
<div class="container">
  <p-toast></p-toast>
  <!-- Div de la card -->
  <div class="card">
    <div class="container-images">
      <p-fileUpload  name="myfile[]" [customUpload]="true" accept="image/*"  (uploadHandler)="uploadImg($event)" [multiple]="true"></p-fileUpload>
      <p-galleria
        [value]="imagenes"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="2"
        thumbnailsPosition="bottom"
        [circular]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [src]="item.thumbnailImageSrc"
            style="width: 100%; display: block"
          />
          <button pButton class="p-button-danger" label="Eliminar imagen" icon="pi pi-trash"  (click)="deleteImage(item.thumbnailImageSrc)" ></button>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="grid grid-nogutter justify-content-center">
            <img
              [src]="item.previewImageSrc"
              style="width: 100px; height: auto; visibility: initial"
            />
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="description-content">
      <form [formGroup]="formProducts" >
        <span>
          <label for="nombre">Nombre </label>
          <input pInputText type="text" id="nombre" formControlName="name" required/>
        </span>
        <span>
          <label for="descripcion">Descripcion </label>
          <textarea
            id="descripcion"
            pInputTextarea
            formControlName="description"
            required
          ></textarea>
        </span>
        <span>
          <label for="Marcas">Marcas </label>
          <p-dropdown
            id="Marcas"
            [options]="marcas"
            formControlName="brands"
            optionLabel="name"
            optionValue="code"
            [required]="true"
          ></p-dropdown>
        </span>
        <span>
          <label for="categoria">Categorias </label>
          <p-dropdown
            id="categoria"
            [options]="categoria"
            formControlName="categories"
            optionLabel="name"
            optionValue="code"
            [required]="true"
          ></p-dropdown>
        </span>
        <span>
          <label for="Clasificacion">Clasificacion </label>
          <p-dropdown
            id="Clasificacion"
            [options]="clasificacion"
            formControlName="clasifications"
            optionValue="code"
            optionLabel="name"
            [required]="true"
          ></p-dropdown>
        </span>
        <div class="porcent">
          <span class="bool">
            <label for="state">Estado </label>
            <p-triStateCheckbox  id="state" formControlName = "state" ></p-triStateCheckbox>
          </span>

          <span>
            <label for="iva">IVA % </label>
            <input pInputText type="number" id="iva" formControlName="iva" required/>
          </span>
          <span>
            <label for="desc">Descuento % </label>
            <input pInputText type="number" id="desc" formControlName="desc" required/>
          </span>
        </div>
        <div class="porcent">
          <span>
            <label for="StartPromo">Inicio de promo </label>
            <input pInputText type="date" id="StartPromo"  formControlName="startPromo" required />
          </span>
          <span>
            <label for="EndPromo">Fin de promo </label>
            <input pInputText type="date" id="EndPromo"  formControlName="endPromo" required />
          </span>
        </div>
        <div class="uploadMain">
          <button  class="btnAdd" type="button" (click)="uploadMain.click">
            <label for="uploadMain"><i class="pi pi-file-import"></i> Adjuntar imagen</label>
            <input #uploadMain type="file" formControlName="image" id="uploadMain" accept="image/png, image/jpg, image/jpeg" required >
          </button>
          <p>{{uploadMain.value || 'Empty'}}</p>
        </div>
        <button pButton label="Guardar" type="button" *ngIf="!switch" (click)="editProduct()"></button>
        <button pButton label="Crear" type="button" *ngIf="switch" (click)="addNew()"></button>
      </form>
    </div>
  </div>
</div>
