<!-- contenedor -->
<div class="container">
  <!-- Div de la card -->
  <div class="card">
    <div class="container-images">
      <p-galleria
        [value]="imagenes"
        [responsiveOptions]="responsiveOptions"
        [numVisible]="2"
        thumbnailsPosition="bottom"
        [circular]="true"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.thumbnailImageSrc" style="width: 100%; display: block" />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item >
          <div class="grid grid-nogutter justify-content-center">
            <img
              [src]="item.previewImageSrc"
              style="width: 100px; height: auto; visibility: initial"
            />
          </div>
        </ng-template>
      </p-galleria>
    </div>
    <div class="description-content">
      <span>
        <label for="nombre">Nombre </label>
        <input pInputText type="text" id="nombre" [value]="product.name" />
      </span>
      <span>
        <label for="descripcion">Descripcion </label>
        <textarea
          id="descripcion"
          pInputTextarea
          [value]="product.description"
        ></textarea>
      </span>
      <span>
        <label for="options">Marcas </label>
        <p-dropdown
          id="options"
          [options]="marcas"
          [(ngModel)]="marcas.name"
          placeholder="Elige"
          optionLabel="name"
          [showClear]="true"
        ></p-dropdown>
      </span>
      <span>
        <label for="options">Categorias </label>
        <p-dropdown
          id="options"
          [options]="categoria"
          [(ngModel)]="focus1"
          placeholder="Elige"
          optionLabel="name"
          [showClear]="true"
        ></p-dropdown>
      </span>
      <span>
        <label for="options">Clasificacion </label>
        <p-dropdown
          id="options"
          [options]="clasificacion"
          [(ngModel)]="focus2"
          placeholder="Elige"
          optionLabel="name"
          [showClear]="true"
        ></p-dropdown>
      </span>
      <span>
        <label for="options">Estado </label>
        <p-dropdown
          id="options"
          [options]="options"
          [(ngModel)]="focus3"
          placeholder="Select a Option"
          optionLabel="name"
          [showClear]="true"
        ></p-dropdown>
      </span>
      <div class="porcent">
        <span>
          <label for="options">IVA % </label>
          <p-dropdown
            id="options"
            [options]="options"
            [(ngModel)]="focus4"
            placeholder="Select a Option"
            optionLabel="name"
            [showClear]="true"
          ></p-dropdown>
        </span>
        <span>
          <label for="options">Descuento % </label>
          <p-dropdown
            id="options"
            [options]="options"
            [(ngModel)]="focus5"
            placeholder="Select a Option"
            optionLabel="name"
            [showClear]="true"
          ></p-dropdown>
        </span>
      </div>
      <span>
        <label for="Promo">Promo </label>
        <input pInputText type="date" id="Promo" />
      </span>
      <button pButton label="Guardar"></button>
    </div>
  </div>
</div>
