.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* presentaciones */
.presentaciones{
  display: flex;
  flex-direction: row;
  padding: 0 300px;
  margin-bottom: 30px;
}

.container-images{
  width: 50%;
}

:host ::ng-deep .p-galleria-thumbnail-items{
  justify-content: start;
}

:host ::ng-deep .p-galleria .p-galleria-thumbnail-container{
  background-color: transparent;
}

/* Button crear */

.p-d-flex button{
  width: 47px;
  height: 47px;
  margin: 0 0 10px 10px;
}

:host::ng-deep .p-button-icon{
  color: white;
}

.descripcion{
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 10px;
}

:host::ng-deep .p-dropdown, .p-inputtext{
  width: 100%;
  margin-bottom: 10px;
}


.porcent{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.porcent span {
  margin: 0 10px;
  width: 100%;
}

.content-crud {
  margin-top: 20px;
  padding: 0 10px;
  border: 1px solid #aaa;
}
img{
  cursor: pointer;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  font-size: 14px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  text-align: center;
}

:host::ng-deep
  .p-datatable-responsive-demo
  .p-datatable-tbody
  > tr
  > td
  .p-column-title {
  display: none;
}

@media only screen and (min-width: 360px) and (max-width: 720px) {

  .presentaciones{
    flex-direction: column;
    padding: 0;
  }


  .porcent{
    flex-direction: column;
  }

  .descripcion, .container-images{
    width: 100%;
  }

  .content-crud{
    width: 100%;
  }

  :host::ng-deep
    .p-datatable
    .p-datatable-responsive-demo
    .p-datatable-thead
    > tr
    > th,
  .p-datatable .p-datatable-responsive-demo .p-datatable-tfoot > tr > td {
    display: none !important;
  }

  :host::ng-deep .p-datatable .p-datatable-responsive-demo  .p-datatable-tbody > tr > td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;
  }

  :host::ng-deep .p-datatable .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4em 1em -0.4em -0.4rem;
    font-weight: bold;
  }

  :host::ng-deep .p-datatable .p-datatable-responsive-demo .p-datatable-tbody > tr > td:last-child{
    border-bottom: 1px solid var(--surface-d);
  }
}
