<!-- Container -->
<div class="container">
  <!-- Box login -->
  <div class="box-sign-in">
    <h2>Registrarse</h2>
    <!-- inputs y boton -->
    <form [formGroup]="formRegister" (ngSubmit)="auth()">
      <span class="p-float-label">
        <input #inUs id="username" type="email" required formControlName="email" pInputText />
        <label for="username">Email</label>
      </span>
      <span class="p-float-label">
        <input #inps id="password" type="password" required formControlName="password" pInputText />
        <label for="password">Crear contraseña</label>
      </span>
      <button pButton type="submit" label="Sign in" class="btnsignin" [disabled]="!formRegister.valid"></button>
    </form>
  </div>
</div>
