<!-- Container -->
<div class="container">
  <!-- Box login -->
  <div class="box-sign-in">
    <h2>Registrarse</h2>
    <!-- inputs y boton -->
    <span class="p-float-label">
      <input #inUs id="username" type="email" required pInputText />
      <label for="username">Email</label>
    </span>
    <span class="p-float-label">
      <input #inps id="password" type="password" required pInputText />
      <label for="password">Crear contraseña</label>
    </span>
    <button pButton label="Sign in" class="btnsignin" (click)="auth(inUs.value, inps.value)"></button>
  </div>
</div>
