<!-- Container -->
<div class="container">
  <p-toast></p-toast>
  <!-- Box login -->
  <div class="box-sign-up">
    <h2>Registrarse</h2>
    <!-- inputs y boton -->
    <form [formGroup]="formRegistro" (ngSubmit)="registro()">
      <span class="p-float-label">
        <input id="float-name" type="text" required formControlName="name" pInputText />
        <label for="float-name">Nombres</label>
      </span>
      <span class="p-float-label">
        <input id="float-last" type="text" required formControlName="lastName" pInputText />
        <label for="float-last">Apellidos</label>
      </span>
      <span class="p-float-label">
        <input id="float-phone" type="text" required formControlName="phone" pInputText />
        <label for="float-phone">Telefono</label>
      </span>
      <button pButton label="Sign up" class="btnsignup" type="submit"></button>
    </form>
  </div>
</div>
