<!-- Container -->
<div class="container">
  <!-- Box login -->
  <div class="box-sign-up">
    <h2>Registrarse</h2>
    <!-- inputs y boton -->
    <span class="p-float-label">
      <input id="float-name" type="text" required pInputText />
      <label for="float-name">Nombres</label>
    </span>
    <span class="p-float-label">
      <input id="float-last" type="text" required pInputText />
      <label for="float-last">Apellidos</label>
    </span>
    <span class="p-float-label">
      <input id="float-adress" type="text" required pInputText />
      <label for="float-adress">Direccion</label>
    </span>
    <span class="p-float-label">
      <input id="float-phone" type="text" required pInputText />
      <label for="float-phone">Telefono</label>
    </span>
    <button pButton label="Sign up" class="btnsignup"></button>
  </div>
</div>
